<%= render 'shared/errors', obj: @article %>

<div class="form-group">
  <%= simple_form_for @article, wrapper: :horizontal_form do |f| %>
    <div class="card-box">
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :text %>

    <div class="row">
      <div class="col-sm-offset-3 col-sm-9">
        <%= f.button :submit, class: "btn btn-primary" %>
        <%= link_to 'Cancel and return to articles list', articles_path, class: "btn btn-warning" %>
      </div>
    </div>
    </div>

  <%end %>

</div>
