<% if @article.errors.any? %>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="form-group">
  <%= simple_form_for @article, wrapper: :horizontal_form do |f| %>
    <div class="card-box">
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :text %>
    </div>

    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit %>
      <%#= cancel_btn products_path %>
      <%#= delete_btn @product %>
    </div>

  <%end %>

  <%= link_to 'Back to articles list', articles_path%>
</div>
