<%= render 'shared/errors', obj: @user %>

<div class="form-group">
  <%= simple_form_for @user, wrapper: :horizontal_form do |f| %>
    <div class="card-box">
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :password %>

      <div class="row">
        <div class="col-sm-offset-3 col-sm-9">
          <%= f.button :submit,(@user.new_record? ?  'Sign Up' : 'Update Account'), class: "btn btn-primary" %>
          <%= link_to 'Cancel and return to articles list', articles_path, class: "btn btn-warning" %>
        </div>
      </div>
    </div>

  <%end %>

</div>